/* страница студия */
:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
}

/* цвет основного текста - #212121; */

/* вторичный цвет текста - #757575; */

/* белый - #FFFFFF; */

/* акцент - #2196F3; */

body {
  background-color: white;
  color: #212121;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
}

/* начало хедера */

/* цвет логотипа */

.logo-header {
  color: #000000;
  font-family: "Raleway";
  text-decoration: none;
  font-size: 26px;
  line-height: 1.2;
}

.logo-header-blue-black {
  color: #2196f3;
  font-family: "Raleway";
  text-decoration: none;
}

/* навигация по сайту */

.site-nav {
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
}

.site-nav .link {
  color: #000000;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

.contacts {
  list-style: none;
}

.contact-link-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  color: #757575;
}

.contact-link-header:hover,
.contact-link-header:focus {
  color: #2196f3;
}

/* окончание хедара */

/* начало мейна */

/* <!-- background:banner/picture/video? --> */

.section-banner {
  background: #2f303a;
}
.section-banner-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  text-align: center;
}

.button-banner {
  cursor: pointer;
  background-color: #2196f3;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  font-family: Roboto;
}

/* .button-banner:hover,
.button-banner:focus {
  background-color: #f5f4fa;
  color: #212121;
} */

/* <!-- company advantages --> */

.section-company {
}

.company-list {
  list-style: none;
}

.company-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
}

.company-title-text {
  color: #757575;
  font-size: 14px;
  line-height: 1.72;
}

/* <!-- what does the company do --> */

.section-works {
}

.section-works-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.works-list {
  color: #212121;
  list-style: none;
}

/* <!-- our team --> */

.section-team {
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.section-team-list {
  list-style: none;
}

.section-team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.section-team-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #757575;
}

/* окончание мейна */

/* начало футера */

/* <!-- footer:address/contacts --> */

.section-address {
  background: #2f303a;
}

.logo-footer {
  color: #ffffff;
  font-family: "Raleway";
  text-decoration: none;
  font-size: 26px;
  line-height: 1.2;
}

.logo-footer-blue-white {
  color: #2196f3;
  font-family: "Raleway";
  text-decoration: none;
}

.address-list {
  list-style: none;
  font-size: 14px;
  line-height: 1.72;
  color: #ffffff;
}

.contact-link-footer {
  font-size: 14px;
  line-height: 1.72;
  color: rgba(255, 255, 255, 0.6);
}

.contact-link-footer:hover,
.contact-link-footer:focus {
  color: #2196f3;
}

/* окончание футера */

/* страница портфолио */

/* хедер такой же как у стидии и футер тоже повторно не декорируем */

/* <!--web page filter--> */

.section-navigation {
}

.button-list {
  list-style: none;
}

.button-navigation {
  cursor: pointer;
  background-color: #f5f4fa;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  font-family: Roboto;
}

.button-navigation:hover,
.button-navigation:focus {
  background-color: #2196f3;
  color: #ffffff;
}

/* <!--gallery--> */

.section-gallery {
}

.gallery-list {
  list-style: none;
}

.gallery-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.gallery-list-text {
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
}
