/* страница студия */

body {
  background-color: white;
  color: #212121;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
/* цвет основного текста - #212121; */

/* вторичный цвет текста - #757575; */

/* белый - #FFFFFF; */

/* акцент - #2196F3; */

/* начало хедера */

/* цвет логотипа */

.logo {
  color: #000000;
  font-family: "Raleway";
  text-decoration: none;
}

.logo-blue {
  color: #2196f3;
  font-family: "Raleway";
  text-decoration: none;
}

/* навигация по сайту */

.site-nav {
  list-style: none;
}

.site-nav .link {
  color: #000000;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

.contacts {
  list-style: none;
}

.contact-link {
  color: #757575;
}

.contact-link:hover,
.contact-link:focus {
  color: #2196f3;
}

/* окончание хедара */

/* начало мейна */

/* <!-- background:banner/picture/video? --> */

.section-banner {
  background: #2f303a;
}
.section-banner-title {
  color: #ffffff;
}

.button-banner {
  background-color: #2196f3;
  color: #ffffff;
}

.button-banner:hover,
.button-banner:focus {
  color: ;
}

/* <!-- company advantages --> */

.section-company {
}

.company-list {
  list-style: none;
}

.company-title {
  color: #212121;
}

.company-title-text {
  color: #757575;
}

/* <!-- what does the company do --> */

.section-works {
}

.section-works-title {
}

.works-list {
  color: #212121;
  list-style: none;
}

/* <!-- our team --> */

.section-team {
}

.section-title {
}

.section-team-list {
  list-style: none;
}

.section-team-title {
}

.section-team-text {
}

/* окончание мейна */

/* начало футера */

/* <!-- footer:address/contacts --> */

.section-address {
}

.address-list {
  list-style: none;
}

/* окончание футера */

/* страница портфолио */

/* хедер такой же как у стидии и футер тоже повторно не декорируем */

/* <!--web page filter--> */

.section-navigation {
}

.button-list {
  list-style: none;
}

.button-navigation {
  background-color: #f5f4fa;
  color: #212121;
}

.button-navigation:hover,
.button-navigation:focus {
  background-color: #2196f3;
  color: #ffffff;
}

/* <!--gallery--> */

.section-gallery {
}

.gallery-list {
  list-style: none;
}
